body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E6E6FA;
    overflow: hidden;
    font-family: sans-serif;
}

.giftcontainer{
    position: relative;
    margin-right: 10%;
}

.giftcontainer::before {
    content: '';
    position: absolute;
    width: 340px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    top: 180px;
    left: -20px;
}

.gift {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #e9c46a;
}

.gift::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 200px;
    background-color: #e76f51;
    left: 124px;
}

.gift::after {
    content: '';
    position: absolute;
    box-shadow: inset 0 20px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 200px;
}

#click {
    display: none;
}

.click {
    position: absolute;
    background-color: #e9c46a;
    width: 340px;
    height: 80px;
    top: -80px;
    left: -20px;
    transform-origin: bottom left;
    transition: 0.3s;
    cursor: pointer;
}

.click::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 80px;
    background-color: #e76f51;
    left: 144px;
}

.click::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 0;
    border-bottom: 60px solid #e76f51;
    border-top: 60px solid #e76f51;
    border-left: 0px solid transparent;
    border-right: 60px solid transparent;
    transform: rotate(-90deg);
    left: 130px;
    top: -94px;
}

#click:checked+.click {
    visibility: visible;
    transform: rotate(-110deg) scale(0.85);
}

#click:checked~.wishes {
    visibility: visible;
    transform: translateY(-240px);
}

.wishes {
    visibility: hidden;
    position: absolute;
    transition: .5s;
    color: #333;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    z-index: -1;
    left: 0px;
    color: #fff;
    text-shadow: 0 0 20px #020202;
}

button{
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
    position: fixed;
    margin-top: 40%;
    margin-left: 54%;
    width: 120px;
    height: 35px;
    font-size: 20px;
}
